<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/template.css'>
</head>
<body>
 <header>
 
    <div class="oval-back desktop"  > <a href="/index.html">BACK</a> </div>
    <div  class="oval-back mobile" style='cursor: pointer;' > <a href="/index.html">BACK </a> </div>      

  </header>   
<div class="main-section">   
 <div class="main-heading"><h1> <a  target="_blank" href="http://www.abicsi.com">Abicsi.com </a></h1> </div>
<div class="new-tab"> <h4>+++link will open in new tab+++</h4></div>
 <div class="image-container">
  
        <img class="full-width-image" src="/images/abicsimain.png">
        <img class="full-width-image" src="/images/prodpage.PNG">
        
    </div>
    <div class="text-box"> <br> <h2>Web Development for Abicsi Sunglasses.</h2> <a>
<ul class="list-desc"> 
    <li>JavaScript, HTML & CSS</li>
    <li>Asynchronous API request to retreive UVI weather data from <span style="font-style: italic;">Weatherapi.com.</span> </li>
<li> Custom .NetCDF map data retreived from <span style="font-style: italic;">Temis.com </span> </li>
<li> Images stored on IPFS.</li>
<li>Payment processing and Inventory management handled through Shopify.</li>
</ul>

  
</a> </div>

<h3 class="mobile-title">Mobile Display</h3>
<div class="image-container vertical">
    <img class="full-width-image" src="/images/abicsi_mbl_loading.jpg">
</div>
<div class="image-container vertical">
    <img class="full-width-image" src="/images/abicsi_home_mbl.jpg">
</div>
<div id="thirdimg" class="image-container vertical">
    <img class="full-width-image" src="/images/abicsiprod_mlb.jpg">
</div>


</div>  
<script type="text/javascript" src="/template.js"> </script>

</body>
</html>