<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/template.css'>
</head>
<body>
    <header>
        <div class="close-x"><a href="/index.html">X </a> </div>
      
    <div class="oval-back desktop"  > <a href="/index.html">Go Back</a> </div>
    <div  class="oval-back mobile" style='cursor: pointer;' > <a href="/index.html">BACK </a> </div>    
      </header>   
<div class="main-section">   
 
 <div class="main-heading"><h1><a  target="_blank" href="http://www.whenallmyfriendslogoff.blog">whenallmyfriendslogoff.blog </a></h1> </div>

 <div class="new-tab"> <h4>+++link will open in new tab+++</h4></div>
<div class="image-container">
    <img class="full-width-image" src="/images/blogsite_dsk.PNG">
</div>
<div class="text-box"> <br> <h2>Web Development for Personal Blog.</h2> 
    <div class="info-row">
        <div class="column"><h3>Type:</h3> <p>Web Development</p>
        </div>      
        <div class="column"><h3>Year:</h3> <p>2022</p>
        </div>      
    </div>
    <a><br> 
        <div class="text-desc"> 
<p> 
    A custom built theme for Wordpress.org. This theme was built upon Wordpress' default 'Twenty Twenty-One' 
    <br> Written in PHP, HTML, CSS and JavaScript. This theme pulls the Wordpress post featured image (thumbnail) and displays it on the home page. 
    The Navigation arrows at the bottom of the post cycle through all blog posts on the Site. 
    <br> Please contact if you would like to use the theme. 
</p> </div>
    <ul class="list-desc"> 
        <li>A personal blog for sharing text longer than 280 Characters</li>
        <li>Custom built theme for <span style="font-style: italic;">Wordpress.org</span> </li>
    <li> Built using PHP, HTML, CSS & JavaScript.</li>
 
    </ul>
    
      
    </a> </div>


<h3>Mobile</h3>
<div class="image-container vertical">
<img class="full-width-image" src="/images/blogsite_mbl.PNG">
</div>
<div class="image-container vertical">
<img class="full-width-image" src="/images/blogsite_post_mbl.PNG">
</div>
<div id="thirdimg"  class="image-container vertical">
<img class="full-width-image" src="/images/blogarrows_mbl.PNG">
</div>


</div>  
</body>
</html>