<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/template.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
</head>
<body>
    <header>   
        <div class="oval-back desktop"  > <a href="/index.html">BACK</a> </div>
        <div  class="oval-back mobile" style='cursor: pointer;' > <a href="/index.html">BACK </a> </div>      
 
    </header>  
    <div class="main-section"> 
    <div class="image-container">
        <img class="full-width-image" src="/images/fw18-sport/coachjacket.jpg">
    </div>
   
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/fw18-sport/favenLS.jpg">
    </div>
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/fw18-sport/fw18tracksuit.jpg">
    </div>
    <div class="image-container vertical">
        <img id="theo-neon-ls" class="full-width-image" src="/images/theoneonls.jpeg">
    </div>
   
    <div class="image-container ">
        <img class="full-width-image" src="/images/fw18-sport/fix tote bag 1.jpg">
    </div>
</div>
</body>
</html>