<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/template.css'>
</head>
<body>
 <header>
    <div class="close-x"><a href="/index.html"><img src="https://bafybeiahi2epwm77i7zqjmrexawggajuc3mvlgfdy7xritvdhxlx4ekzna.ipfs.w3s.link/go-home.png"></img> </a> </div>
    <div class="oval-back desktop"  > <a href="/index.html">BACK</a> </div>
    <div  class="oval-back mobile" style='cursor: pointer;' > <a href="/index.html">BACK </a> </div>      

  </header>   
<div class="main-section">   
 <div class="main-heading"><h1> <a  target="_blank" >Ecco Ossington </a></h1> </div>

 <div class="image-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/59akyOnGLVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="text-box"> <br> <h2>Landing Page Design for Ecco Ossington</h2>
    <div class="info-row">
        <div class="column"><h3>Type:</h3> <p>Web Design</p>
        </div>      
        <div class="column"><h3>Year:</h3> <p>2023</p>
        </div>      
    </div>

        <a>
            <div class="text-desc"> 
      <ul class="text-desc">
        <li>Designed landing page for Ecco Group's new concept store on Ossington St in Toronto. </li>
      <li>Designed with Figma and also using Adobe Creative Suite to edit assets. </li>
        <li>Collaborated with marketing and development team to establish project goals, future design improvements and milestones. </li>
    </ul>
           
        </div>

  
</a> </div>


</div>  
<script type="text/javascript" src="/template.js"> </script>

</body>
</html>