<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
  
</head>
<body>
  <div class="oval">
    <a class="inside-oval" id="datedesktopmain"> date here </a> 
    
   <a class="inside-oval" id="timedesktopmain"> time here </a> 
 
 </div>
 <div class="blurb">  <a> Hi, Hello.  <br> Let's work together!
  <br> <br> Based Online & Toronto, ON 
  <br> him@g-g[dot]world 
  </a>  </div>

  
  
  <div class="ext-links"> <a>[ <a>Github</a> --<a> Professional Links</a> -- <a>Image Gallery</a> ]</a> </div>
  <div class="handmade">   <img src="https://gossipsweb.net/images/hand-left.svg"> This Website Was Made With Hands   <img src="https://gossipsweb.net/images/hand-left.svg"> </div>
</div>
  <div id="mid">

    <label class="rocker">
      <input type="checkbox" checked>
      <span class="switch-left" onclick='doActionmobile()'>Off</span>
      <span class="switch-right" onclick='doActionmobile()'>On</span>
    </label>
  
  </div>
  <script type="text/javascript" src="/index.js"> </script>
</html>