<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/template.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
</head>
<body>
    <header>
        <div class="close-x"><a href="/index.html"><img src="https://bafybeiahi2epwm77i7zqjmrexawggajuc3mvlgfdy7xritvdhxlx4ekzna.ipfs.w3s.link/go-home.png"></img> </a> </div>
        <div class="oval-back desktop"  > <a href="/index.html">BACK</a> </div>
    <div  class="oval-back mobile" style='cursor: pointer;' > <a href="/index.html">BACK </a> </div>      

      </header>
      <div class="main-section"> 
    <div class="image-container">
        <img class="full-width-image" src="/images/sportdickiestags.jpg">
    </div>
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/painter-sport/orangepurp28bit.png">
    </div>
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/painter-sport/green-blue28bit.png">
    </div>
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/painter-sport/cloud28bit.png">
    </div>
   
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/painter-stand.jpg">
    </div>
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/painter-sit.jpg">
    </div>

    <div class="text-box"> <br> <h2>Hand-Dyed Painter Pants</h2>
        <div class="info-row">
            <div class="column"><h3>Type:</h3> <p>Design</p>
            </div>      
            <div class="column"><h3>Year:</h3> <p>2020</p>
            </div>      
        </div>
    
            <a>
                <div class="text-desc"> 
          <ul class="text-desc">
            <li>Designed logo for back pocket of pants, inspired by Dickies imagery  </li>
            <li>Shot lookbook content and prepared images for web.  </li>
          </ul>
               
            </div>
    
      
    </a> </div>
   
</div>
</body>
</html>