<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/template.css'>
</head>
<body>
    <header>  
        <div class="close-x"><a href="/index.html"><img src="https://bafybeiahi2epwm77i7zqjmrexawggajuc3mvlgfdy7xritvdhxlx4ekzna.ipfs.w3s.link/go-home.png"></img> </a> </div>
        <div class="oval-back desktop"  > <a href="/index.html">BACK</a> </div>
        <div  class="oval-back mobile" style='cursor: pointer;' > <a href="/index.html">BACK </a> </div>      
      
       
    </header>  
<div class="main-section">   

 <div class="main-heading"><h1> <a target="_blank" href="http://www.sportwebsite.ca">sportwebsite.ca</a></h1> </div>


    <div class="image-container">
        <img class="full-width-image" src="/images/sport-home-desk.png">
    </div>
<div class="image-container">
        <img class="full-width-image" src="/images/sportwebarchive_desk.png">
    </div>
  


    <div class="text-box"> <br> <h2>Web development for Sport Website</h2> <a><br>
        <div class="info-row">
            <div class="column"><h3>Type:</h3> <p>Web Development</p>
            </div>      
            <div class="column"><h3>Year:</h3> <p>2020</p>
            </div>      
        </div>
         
        <div class="text-desc">
            <ul>
                <li>Made with hands using HTML, CSS & JavaScript.</li>
                <li>Shopify API implementation to handle inventory and payment processing.</li>
                <li>Built based on the JAMstack (JavaScript, API, Markup) development prinicples.
                </li>
            </ul>
       
        
        
    </div>
   
        </a> </div>
    
  


    
    <h3 class="mobile-title">Mobile Display</h3>
<div class="image-container vertical">
    <img class="full-width-image" src="/images/sportwebsite2_home_mbl.jpg">
</div>
<div class="image-container vertical">
    <img class="full-width-image" src="/images/sportwebsite_prod_mbl.jpg">
</div>
<div id="thirdimg"  class="image-container vertical">
    <img class="full-width-image" src="/images/sportwebsitehome_mbl.jpg">
</div>

</div>  
</body>
</html>