<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/template.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
</head>
<body>
    <header>   
        <div class="close-x"><a href="/index.html"><img src="https://bafybeiahi2epwm77i7zqjmrexawggajuc3mvlgfdy7xritvdhxlx4ekzna.ipfs.w3s.link/go-home.png"></img> </a> </div>
        <div class="oval-back desktop"  > <a href="/index.html">BACK</a> </div>
        <div  class="oval-back mobile" style='cursor: pointer;' > <a href="/index.html">BACK </a> </div>      
       
      
    </header>  
    <div class="main-section"> 
    
    <div class="image-container">
        <img class="full-width-image" src="/images/sport-socks/Sock_packaging.png">
    </div>
    <div class="image-container">
        <img class="full-width-image" src="/images/sport-socks/sock_productshot.png">
    </div>
    <div class="image-container">
        <video autoplay  muted loop class="full-width-image" src="/images/sport-socks/vid3green.mp4">
    </div>

    <div class="text-box"> <br> <h2>Sport socks for sport</h2> 
        <div class="info-row">
            <div class="column"><h3>Type:</h3> <p>Design - Sport</p>
            </div>      
            <div class="column"><h3>Year:</h3> <p>2018</p>
            </div>      
        </div>
        <a><br> 
            <div class="text-desc"> 
     <ul>
        <li>Cycling Sock in volt green and Crew Sock in black.</li>
       <li>Sock Design, Launch photo and video content done with  Deanna Badi. </li> 
     </ul>
            </div>
            
              
            </a> </div>
</div>
</body>
</html>