<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/template.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
</head>
<body>
    <header>  
        <div class="close-x"><a href="/index.html">X </a> </div> 
        <div class="oval-back desktop"  > <a href="/index.html" class="fill-div">BACK</a> </div>
        <div  class="oval-back mobile" style='cursor: pointer;' > <a href="/index.html">BACK </a> </div>      
       
       
    </header>  
    <div class="main-section">

        <div class="image-container">
            <img class="full-width-image" src="/images/popup poster.jpeg">
        </div> 
    <div class="image-container">
        <img class="full-width-image" src="/images/summer19-sport/kieran full quality.jpg">
    </div>
   
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/summer19-sport/ibm-tee2.jpeg">
    </div>
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/kieran-ibm.jpeg">
    </div>
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/ivan-costco-2.jpeg">
    </div>

    <div class="text-box"> 
      <br> <br> <a>One day Pop-up shop to debut Summer 2019 Collection.
            <br> Hosted by Smalls Coffee Shop in Hamilton, Ontario.
        </a>
    </div>

    <div class="image-container ">
        <img class="full-width-image" src="/images/summer19-sport/hackie-summer.jpg">
    </div>
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/summer19-sport/beige bucket_700.png">
    </div>
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/summer19-sport/navy bucket_700.png">
    </div>
    <div class="image-container vertical">
        <img class="full-width-image" src="/images/pleasurecap_700.png">
    </div>
    
</div>
</body>
</html>