<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/template.css'>
</head>
<body>
 <header>
<div  onclick='returnHtml("right" , "/templates/main.html")' style='cursor: pointer;' class="return-button" > <a>RETURN </a> </div>    
</header>   
<div class="main-section">   
 <div class="main-heading"><h1>Abicsi.com</h1> </div>
<div class="new-tab"> <h4>------link will open in new tab</h4></div>
    <div class="image-container">
        
    </div>
<img id="full-image" src='' onclick="changeImage()"/>

    <div class="info-text"> 
        <a>Weather data gathered from Weatherapi[dot]com. 
            <br> GET API request to fetch the data from Weatherapi[dot]com  </a>
    </div>
    <div class="tech-stack">
        <h3>Technology Stack</h3>
      <ul> 
        <li>Vanilla HTML & CSS</li>
        <li>GET API request </li>
      </ul>
    
      </div>
    



    <div class="desc-text"> 
        <a>Daily updating maps provided by <a class="click-link" href="https://www.temis.nl/">Temis[dot]nl</a> </a>
    </div>
    <h3>Mobile</h3>
</div>  

<script type="text/javascript" src="/index.js"> </script>

</body>
</html>